@import "../../../styles.scss";

.slider-section-container {
	padding: 1rem 0rem;

	.slider-title-container {
		position: relative;

		.btn-container {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			
			span {
				font-size: 2rem;
				border: 1px solid #000;
			}
		}
	}

	.slider-section-content {
		display: flex;
		flex-wrap: nowrap;
		justify-content: left;

		.slider-item {
			border: 1px solid $custom-green;
			width: 20rem;
			height: 340px;
			margin-right: 2rem;
			text-align: center;
			img {
				width: 90%;
				height: 192px;
				display: block;
				text-align: center;
				margin: 0.5rem auto;
			}

			.slider-item-name {
				width: 90%;
				display: block;
				font-size: 1.1rem;
				font-weight: lighter;
				margin: 0 auto;
			}

			.slider-item-price {
				width: 90%;
				display: block;
				font-size: 1.5rem;
				margin: 0 auto;
			}

		}	
	}
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}