<div class="slider-section-container">
	<span class="subtitle">{{ sectionName }}</span>
	<div class="slider-section-content">
		<div class="slider-item" style="display: none;">
			<img src="../../../assets/birthday-cake-sm.jpg">
			<span class="slider-item-name">Cherry Dream</span>
			<span class="slider-item-price">$ 20.00</span>
			<button class="generic-btn">Try cake</button>
		</div>
		<div class="slider-item">
			<img src="../../../assets/birthday-cake-sm.jpg">
			<span class="slider-item-name">Cherry Dream</span>
			<span class="slider-item-price">$ 20.00</span>
			<button class="generic-btn">Try cake</button>
		</div>
		<div class="slider-item">
			<img src="../../../assets/birthday-cake-sm.jpg">
			<span class="slider-item-name">Cherry Dream</span>
			<span class="slider-item-price">$ 20.00</span>
			<button class="generic-btn">Try cake</button>
		</div>
		<div class="slider-item">
			<img src="../../../assets/birthday-cake-sm.jpg">
			<span class="slider-item-name">Cherry Dream</span>
			<span class="slider-item-price">$ 20.00</span>
			<button class="generic-btn">Try cake</button>
		</div>
		<div class="slider-item" style="display: none;">
			<img src="../../../assets/birthday-cake-sm.jpg">
			<span class="slider-item-name">Cherry Dream</span>
			<span class="slider-item-price">$ 20.00</span>
			<button class="generic-btn">Try cake</button>
		</div>
	</div>
</div>