<div class="slider-section-container">
	<div class="slider-title-container">
		<span class="subtitle">{{ sectionName }}</span>
		<div class="btn-container" (click)="scrollSlider()">
			<span class="slider-btn"> > </span>
		</div>
	</div>

	<div class="slider-section-content" id="slider-section-content">
		<div *ngFor="let item of cakes" class="slider-item fade">
			<img src="{{ item.image }}">
			<span class="slider-item-name">{{ item.title }}</span>
			<span class="slider-item-price">$ {{ item.price }}</span>
			<button class="generic-btn">Try cake</button>
		</div>
	</div>
</div>