<div class="footer-box">
	
	<div class="footer-center-section" style="margin-bottom: 1rem;">
		Mama Cake
	</div>
	
	<div class="footer-flex">
		<div class="footer-section">
			<span>Cakes</span>
			<span>Birthday Cakes</span>
			<span>Wedding Cakes</span>
			<span>Custom Cakes</span>
		</div>
		<div class="footer-section">
			<span>About</span>
			<span>Contact</span>
		</div>
	</div>
	
	<div class="footer-center-section" style="margin-top: 2rem;">
		Copyright © Mama Cake Company 2020. All Rights Reserved.
	</div>
</div>