@import "../../../styles.scss";

$footer-section-width: 25rem;

.footer-box {
	border: 1px solid $custom-green;
	padding: 1rem 2rem;
	text-align: center;

	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		span {
			display: block;
			margin: 0.5rem auto;
			cursor: pointer;
		}

		span:hover {
			text-decoration: underline;
		}

		.footer-section {
			width: $footer-section-width;
		}

	}

	.footer-center-section {
		display: block;
		width: $footer-section-width;
		margin: 0 auto;
	}

}

