<div class="header-box">
	<div class="header-logo">
		<img src="../../../assets/cake-logo-inverse.png">
		<div class="header-logo-slogan">
			<span>Happiness is </span>
			<span id="second-span"> a piece of Cake</span>
		</div>
	</div>
	<div class="header-contact">
		<span>Email: mamacake@gmail.com</span>
		<span>Phone: +1 (407) 000-0000</span>
	</div>
</div>
<div class="header-options">
	<span>Cakes</span>
	<span>Birthday Cakes</span>
	<span>Wedding Cakes</span>
	<span>Custom Cakes</span>
</div>