<div class="daily-deal">
	<span class="subtitle">Deal of the day</span>
	<div class="daily-deal-content">
		<div class="daily-deal-img">
			<img src="../../../assets/daily-cake-sm.jpg">
		</div>
		<div class="cake-description">
			<span class="cake-name">Chocolate Almond Cake</span>
			<span class="cake-price">$ 35.00</span>
			<span class="cake-desc1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu pulvinar elit.
				Duis vestibulum dui dolor, in varius eros rhoncus et. Nam nec imperdiet lorem, eu dictum ex.
				Proin scelerisque eu lacus sed auctor. Nunc venenatis venenatis diam nec interdum.
				Suspendisse id ligula diam. Sed sit amet ex mauris. Suspendisse quam lectus, 
				suscipit eu congue sit amet, elementum ac eros. Nulla metus quam, vehicula lobortis
				lorem ac, condimentum imperdiet metus. Sed placerat tempor dictum.
			</span>
			<button class="cake-buy-btn"> Buy Cake :)</button>
		</div>
	</div>
</div>