/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Gelasio|Montserrat|Roboto&display=swap');

/* Colors */
$custom-green: #2f880f;
$custom-grey: #f3f3f3;
$hover-white: #f3f3f3;


* {
	font-family: Montserrat, Roboto, Arial;
	padding: 0;
	margin: 0;
}

.subtitle {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 2.5rem;
	display: block;
	margin: 1rem 0;
	border-bottom: 2px solid $custom-green;
}

.cake-description {
	width: calc(50% - 2rem);
	padding-left: 2rem;

	.cake-name {
		font-size: 1.5rem;
		font-weight: bold;
		display: block;
		margin-bottom: 2rem;
	}

	.cake-price {
		font-size: 2rem;
		display: block;
		margin-bottom: 2rem;
	}

	.cake-desc1 {
		font-size: 1rem;
		display: block;
		margin-bottom: 2rem;
	}

	.cake-buy-btn {
		display: block;
		padding: 1rem;
		background: $custom-green;
		border: none;
		color: #fff;
		font-weight: bold;
		font-size: 1rem;
	}

	.cake-buy-btn:hover {
		background: #fff;
		color: #000;
		border: 1px solid $custom-green;
		cursor: pointer;
	}

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}